{% extends 'base.html' %} {% load static %} {% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="height: 500px; width: 400px;" src="{% static 'images/home1.jpg' %}" class="d-block w-100" alt="home1">

        </div>
        <div class="carousel-item">
            <img style="height: 500px; width: 400px;" src="{% static 'images/home2.jpg' %}" class="d-block w-100" alt="home2">
        </div>
        <div class="carousel-item">
            <img style="height: 500px; width: 400px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-----------------Home block 2------------------>


<!-----------------Home block 3------------------>
<div id="carouselExampleInterval" class="carousel slide mt-5" data-bs-ride="carousel">

    <div class="container">
        <h3>Best Products</h3>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row">
                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>
                </div>
            </div>


            <div class="carousel-item" data-bs-interval="2000">
                <div class="row">
                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <div class="row">
                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>

                    <div class="col-3">
                        <img style="height: 250px; width: 250px;" src="{% static 'images/home2.png' %}" class="d-block w-100" alt="...">
                        <span>sofa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}